.arttitle_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin: auto;
}
.arttitle_div p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.arttitle_input[type=text] {
    width: 80%;
    height: 60%;
    font-size: 20px;
    padding: 8px;
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.arttitle_input[type=text]:focus {
    box-shadow: 0 0 3px #68127C;
    border: 1px solid #68127C;
}