.home {
    font-family: 'Grandstander', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.center_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.home_text {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
    align-items: flex-start;
}

.titlex {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 70px;
    color: black;
    margin: 0;
}

.titlex span {
    color: #68127C;
}

.desc {
    width: 100%;
    height: 30%;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    color: black;
    margin: 0;
}

.signup_btn {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup_btn p {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #706565;
}

.home_img {
    z-index: -1;
    height: 100%;
    width: 40%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}