.art_form_wrap {
    width: 100vw;
    height: 85vh;
    display: block;
    overflow-y: scroll;
}

.form_heading {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.article_form {
    width: 100%;
    height: 75%;
    display: block;
}

.arttitle_div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin: auto;
}



.arttitle_input[type=text]:focus {
    box-shadow: 0 0 3px #68127C;
    border: 1px solid #68127C;
}

.upload_btn{
    width: 80%;
    /* height: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.input__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.question p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.options {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.option {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}