.get_rev{
    /* height: 85vh; */
    /* width: 100vw; */
    /* display: block; */
    /* overflow-y: scroll; */
    width: 100%;
}

.addnewart{
    width: 95%;
    padding: 20px 0;
    border: 3px solid #68127C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 20px auto;
}