.user__dashboard{
    padding: 2rem;

}
.your__request__title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
}
.accept__reject__container{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}